@page "/Label"
@inherits MasaCompontentBase

<MTextField @bind-Value="_typeName" OnKeyDown="SearchAsync" Class="rounded-2" Height="40" Flat Dense Solo HideDetails="@("auto")" Placeholder="@T("Search")">
    <PrependInnerContent>
        <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
    </PrependInnerContent>
</MTextField>

<MRow NoGutters Style="margin: 0 -12px !important">
    @foreach (var labelGroup in _labels.GroupBy(l => l.TypeCode))
    {
        var label = labelGroup.FirstOrDefault() ?? new();
        <MCol Cols="4">
            <MCard Class="ma-3" Outlined MinHeight="242" Style="border-radius:16px !important; border: none;">
                <MCardTitle Style="font-size: medium; flex-wrap:nowrap; padding-bottom: 12px !important;">
                    <div class="text-h7 text-overflow">@label.TypeName</div>
                    <MSpacer />
                    <MButton Icon OnClick="()=>ShowLabelModal(label)">
                        <MIcon Size="20" Color="#323D6F">mdi-pencil</MIcon>
                    </MButton>
                </MCardTitle>
                <MCardSubtitle>
                    <div class="text-overflow">@label.TypeCode</div>
                    <div class="mt-4" style="display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden; color: #485585">
                        @label.Description
                    </div>
                </MCardSubtitle>
                <MCardActions Style="position:absolute;bottom:0;left:0;right:0; padding-bottom:16px !important;">
                    <div class="d-flex flex-column" style="overflow:hidden; width:100%;">
                        <div class="mx-2 d-flex justify-space-between" style="height:25px;white-space: nowrap;overflow: hidden;">
                            <div class="mr-3" style="overflow:hidden">
                                @foreach (var item in labelGroup)
                                {
                                    <MChip Color="#F0F3FA" Style="color: #323D6F; font-weight: bold; font-size: 14px;" Class="mr-3" Small>
                                        @item.Name
                                    </MChip>
                                }
                            </div>
                            <MMenu Bottom OffsetY>
                                <ActivatorContent>
                                    <MButton @attributes="@context.Attrs" Style="border: 1px solid #E2E7F4" Icon Width="24" Height="24">
                                        <MIcon Color="black">mdi-dots-horizontal</MIcon>
                                    </MButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MList Dense>
                                        @foreach (var item in labelGroup)
                                        {
                                            <MListItem>
                                                <MListItemContent>
                                                    <MListItemTitle>
                                                        @item.Name
                                                    </MListItemTitle>
                                                </MListItemContent>
                                            </MListItem>
                                        }
                                    </MList>
                                </ChildContent>
                            </MMenu>
                        </div>
                        <div class="mx-2 d-flex justify-end text-caption text-overflow" style="margin:16px 0 0 0;">
                            <span style="font-size: 12px; color: #323D6F;">叶子</span>
                            <span class="mx-2" style="color:#E2E7F4">|</span>
                            <span style="font-size: 12px; color: #A3AED0;">编辑于1小时前</span>
                        </div>
                    </div>
                </MCardActions>
            </MCard>
        </MCol>
    }
    <MCol Cols="4">
        <MHover Context="hoverContext">
            <MCard Ripple=false OnClick="()=>ShowLabelModal(null)" @attributes="hoverContext.Attrs" Elevation="@(hoverContext.Hover ? 6 : 0)" Class="hover-pointer ma-3 d-flex justify-center align-center" Outlined MinHeight="242" Style="border-radius:16px !important; border: none;">
                <div>
                    <MIcon Color="#323D6F">mdi-plus-circle-outline</MIcon>
                    <span style="color: #323D6F; font-size: 18px;">新增标签</span>
                </div>
            </MCard>
        </MHover>
    </MCol>
</MRow>

<SheetDialog Value="_labelModal.Visible" ValueChanged="LabelModalValueChanged" Title="@T("Edit")" Icon="mdi-circle" IconColor="success">
    <MForm Class="full-height" Context="formContext" EnableValidation Model="_labelModal.Data">
        <div class="d-flex flex-column" style="width:100%; height:100%; padding: 48px 228px; overflow: hidden;">
            <div class="full-height" style="overflow-y: auto;">
                <p style="font-size:14px; font-weight:700; color:#1B2559">标签</p>
                <MTextField Dense Outlined @bind-Value="_labelModal.Data.TypeName" Label="TypeName"></MTextField>
                <MTextField Disabled="_labelModal.HasValue" Dense Class="mt-12" Outlined @bind-Value="_labelModal.Data.TypeCode" Label="TypeCode"></MTextField>
                <p class="mt-12" style="font-size:14px; font-weight:700; color:#1B2559">标签值</p>
                <div style="border-radius: 8px; border: 1px solid #E2E7F4; padding:12px 24px;">
                    <MRow Style="color: #A3AED0; font-size: 14px;" NoGutters>
                        <span style="width: 47.5%">Name</span>
                        <span style="width: 47.5%">Code</span>
                        <span class="d-flex justify-center" style="width: 5%">操作</span>
                    </MRow>
                    <MDivider Class="mt-3 mx-n6"></MDivider>
                    @foreach (var item in _labelValues)
                    {
                        <MRow Class="pt-4" NoGutters Justify="JustifyTypes.SpaceBetween">
                            <MTextField Class="pr-6" Dense HideDetails="true" Outlined @bind-Value="item.Name" Label="Name"></MTextField>
                            <MTextField Disabled="_labelModal.HasValue" Dense HideDetails="true" Outlined @bind-Value="item.Code" Label="Code"></MTextField>
                            <div class="d-flex justify-end align-center ml-6">
                                <MIcon OnClick="()=>RemoveLabelValue(item.Index)" Class="hover-pointer mr-3">mdi-close</MIcon>
                                <MIcon OnClick="()=>AddLabelValue(item.Index)" Class="hover-pointer">mdi-plus</MIcon>
                            </div>
                        </MRow>
                    }
                </div>
                <MTextarea Class="mt-12" Outlined Label="描述" @bind-Value="_labelModal.Data.Description"></MTextarea>
            </div>
            <div class="d-flex justify-end align-end" style="width:100%;">
                <MButton Class="rounded-pill" Color="primary" Width="100" OnClick="()=>SubmitLabelAsync(formContext)">提交</MButton>
            </div>
        </div>
    </MForm>
</SheetDialog>