@page "/Label"
@inherits MasaCompontentBase

<PageTitle>@T("LabelManagement")</PageTitle>

<MRow NoGutters>
    <MTextField @bind-Value="_typeName" HideDetails="true" Dense OnKeyDown="SearchAsync" Class="rounded-2" Height="40" Flat Solo Placeholder="@T("Search")">
        <PrependInnerContent>
            <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
        </PrependInnerContent>
    </MTextField>
    <MButton Height="40" Width="100" Class="rounded-lg ml-6" Color="primary" OnClick="()=>ShowLabelModal(null)">
        <MIcon Class="mr-1" Small>mdi-plus</MIcon>@T("Add")
    </MButton>
</MRow>

<MRow NoGutters Style="margin: 12px -12px !important">
    @foreach (var labelGroup in _labels.GroupBy(l => l.TypeCode))
    {
        var label = labelGroup.FirstOrDefault() ?? new();
        <MCol Cols="4">
            <MCard Class="ma-3" Outlined MinHeight="242" Style="border-radius:16px !important; border: none;">
                <MCardTitle Style="font-size: medium; flex-wrap:nowrap; padding-bottom: 12px !important;">
                    <div class="emphasis2--text h7 text-overflow">@label.TypeName</div>
                    <MSpacer />
                    <MButton Icon OnClick="()=>ShowLabelModal(label)">
                        <MIcon Size="20" Color="#323D6F">mdi-pencil</MIcon>
                    </MButton>
                </MCardTitle>
                <MCardSubtitle>
                    <div class="text-overflow">@label.TypeCode</div>
                    <div class="mt-4" style="display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden; color: #485585">
                        @label.Description
                    </div>
                </MCardSubtitle>
                <div style="position:absolute;bottom:0;left:0;right:0; padding:0 16px 16px 16px !important;">
                    <MChipGroup Class="env-cluster-chip-group">
                        @foreach (var item in labelGroup)
                        {
                            <MChip Color="#F0F3FA" Style="color: #323D6F; font-weight: bold; font-size: 14px;" Class="mr-3" Small>
                                @item.Name
                            </MChip>
                        }
                    </MChipGroup>
                    <div class="mx-2 d-flex justify-end regular3--text btn text-overflow" style="margin:16px 0 0 0;">
                        <span style="font-size: 12px; color: #323D6F;">@label.ModifierName</span>
                        <span class="mx-2" style="color:#E2E7F4">|</span>
                        <span style="font-size: 12px; color: #A3AED0;">@T("Edit in") @label.ModificationTime.Humanize(utcDate: true, culture:I18n.Culture)</span>
                    </div>
                </div>
            </MCard>
        </MCol>
    }
</MRow>

<SSheetDialog EnableDomReload Value="_labelModal.Visible" ValueChanged="LabelModalValueChanged" Title="@(_labelModal.HasValue ? T("Edit label") : T("Add label"))" Icon="mdi-circle" IconColor="success">
    <MForm Class="full-height" Context="formContext" EnableValidation Model="_labelModal.Data">
        <div class="d-flex flex-column" style="width:100%; height:100%; padding:  48px 228px; overflow: hidden;">
            <div class="full-height" style="overflow-y: auto;">
                <p style="font-size:14px; font-weight:700; color:#1B2559">@T("Label")</p>
                <STextField Outlined @bind-Value="_labelModal.Data.TypeName" Label="TypeName"></STextField>
                <STextField Disabled="_labelModal.HasValue" Class="mt-12" Outlined @bind-Value="_labelModal.Data.TypeCode" Label="TypeCode"></STextField>
                <p class="mt-12" style="font-size:14px; font-weight:700; color:#1B2559">@T("Label values")</p>
                <div style="border-radius: 8px; border: 1px solid #E2E7F4;" class="py-3">
                    <MRow Style="color: #A3AED0; font-size: 14px;" Class="px-6" NoGutters>
                        <span style="width: 47.5%">Name</span>
                        <span style="width: 47.5%">Code</span>
                        <span class="d-flex justify-center" style="width: 5%">@T("Operation")</span>
                    </MRow>
                    <MDivider Class="mt-3"></MDivider>
                    @foreach (var item in _labelModal.Data.LabelValues)
                    {
                        <MRow Class="pt-4 px-6" NoGutters Justify="JustifyTypes.SpaceBetween">
                            <STextField Style="width: 46.5%" Class="pr-6" Outlined @bind-Value="item.Name" Label="Name"></STextField>
                            <STextField Style="width: 46.5%" Disabled="@(_labelModal.HasValue && item.Disabled)" Outlined @bind-Value="item.Code" Label="Code"></STextField>
                            <div class="d-flex justify-end align-start ml-6" style="width: 5%; margin-top: 14px;">
                                <MIcon Disabled="@(_labelModal.Data.LabelValues.Count==1)" OnClick="()=>RemoveLabelValue(item.Index)" Class="hover-pointer mr-3">mdi-close</MIcon>
                                <MIcon OnClick="()=>AddLabelValue(item.Index)" Class="hover-pointer">mdi-plus</MIcon>
                            </div>
                        </MRow>
                    }
                </div>
                <MTextarea Class="mt-12" Outlined Label="@T("Description")" @bind-Value="_labelModal.Data.Description"></MTextarea>
            </div>
            <div class="d-flex" style="width:100%;">
                @if (_labelModal.HasValue)
                {
                    <SButton Text Color="error" Small OnClick="()=>RemoveLabelAsync(_labelModal.Data.TypeCode)">@T("Delete")</SButton>
                }
                <MSpacer />
                <SButton Small OnClick="()=>SubmitLabelAsync(formContext)">@(_labelModal.HasValue ? T("Save") : T("Submit"))</SButton>
                </div>
            </div>
        </MForm>
    </SSheetDialog>