@page "/Landscape"
@inherits MasaCompontentBase

<CascadingValue Value="this">
    <MTabs ValueChanged="TabValueChangedAsync" Value="_curTab" SliderColor="transparent" class="pro-nav remover-ripple">
        <MTab class="text-capitalize pa-0">
            <ChildContent>
                <span class="mtab-tab-line mtab-tab-linear-primary"></span>
                <span class="rounded-circle mtab-tab-indicator mtab-tab-indicator-primary"></span>
                <span class="mtab-tab-title">@T("Landscape")</span>
            </ChildContent>
        </MTab>
        <MTab class="text-capitalize pa-0" Disabled="_teamDetailDisabled">
            <ChildContent>
                <span class="mtab-tab-line @(_curTab.ToInt32()>0?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
                <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32()>0?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
                <span class="mtab-tab-title">@T("Project detail")</span>
            </ChildContent>
        </MTab>
        <MTab class="text-capitalize pa-0" Disabled="_configDisabled">
            <ChildContent>
                <span class="mtab-tab-line @(_curTab.ToInt32()>1?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
                <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32()>1?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
                <span class="mtab-tab-title">@T("Config detail")</span>
            </ChildContent>
        </MTab>
    </MTabs>

    <MTabsItems Style="background-color: transparent !important;" Value="_curTab" class="pt-6">
        <MTabItem>
            <div class="d-flex">
                <MNavigationDrawer Permanent Class="rounded-4" Width="242" Style="height:calc(100vh - 192px );">
                    <div style="min-width:242px; display:flex; flex-direction:column; align-items:center; overflow: auto; height:calc(100vh - 200px );">
                        <MList Width="194">
                            <MListItemGroup Class="rounded-2"
                                            @bind-Value="_selectedEnvId"
                                            Mandatory
                                            Color="#A3AED0">
                                @foreach (var env in _environments)
                                {
                                    <MTooltip Left>
                                        <ActivatorContent>
                                            <MListItem @attributes="@context.Attrs" Context="_" Style="height: 40px !important; min-height: 40px !important;" Class="rounded-2 env-list" Value="env.Id" Dense OnClick="@(()=>GetClustersByEnvIdAsync(env.Id))">
                                                <ItemContent>
                                                    <MListItemIcon Class="d-flex align-center pt-1 mr-0">
                                                        <MIcon Color="@env.Color" Size="12">mdi-circle</MIcon>
                                                    </MListItemIcon>
                                                    <MListItemContent>
                                                        <MListItemTitle>@env.Name</MListItemTitle>
                                                    </MListItemContent>
                                                </ItemContent>
                                            </MListItem>
                                        </ActivatorContent>
                                        <ChildContent>
                                            <span>@env.Name</span>
                                        </ChildContent>
                                    </MTooltip>

                                }
                            </MListItemGroup>
                        </MList>
                    </div>
                </MNavigationDrawer>
                <div class="pl-6" style="width: calc(100% - 242px); overflow: hidden; display:block;">
                    <MRow NoGutters Align="AlignTypes.Center" Class="env-toolbar rounded-5" Style="height:88px; background:#fff;padding:0 12px;">
                        <MCard>
                            <MTabs @bind-Value="_selectEnvClusterId" Class="cluster-tabs mt-2" BackgroundColor="#fff" ShowArrows="@(true)" ActiveClass="cluster-tab-active" HideSlider>
                                @foreach (var cluster in _clusters)
                                {
                                    StringNumber envClusterId = (StringNumber)cluster.EnvironmentClusterId;
                                    <MTooltip Top>
                                        <ActivatorContent>
                                            <MTab @attributes="@context.Attrs" Style="height:40px; max-width:150px;" Value="envClusterId" OnClick="()=>GetProjectByEnvClusterIdAsync(cluster.EnvironmentClusterId)">
                                                <div class="text-overflow">@cluster.Name</div>
                                            </MTab>
                                        </ActivatorContent>
                                        <ChildContent>
                                            <span>@cluster.Name</span>
                                        </ChildContent>
                                    </MTooltip>
                                }
                            </MTabs>
                        </MCard>
                    </MRow>
                    <div class="rounded-5 mt-3" style="height:calc(100vh - 292px ); display:flex; flex-direction:column; justify-content:space-between; overflow:auto;">
                        <div>
                            <MExpansionPanels Flat Accordion>
                                @foreach (var project in _projects)
                                {
                                    var apps = _apps.Where(app => app.ProjectId == project.Id && app.EnvironmentClusters.Select(envCluster => envCluster.Id).Contains(_selectEnvClusterId.AsT1)).ToList();
                                    <MExpansionPanel Class="rounded-5 my-3">
                                        <MExpansionPanelHeader Style="height: 56px;" Class="my-6">
                                            <ChildContent>
                                                <span style="display:flex;align-items:center; margin-right:10px;">
                                                    <div class="emphasis--text h6">
                                                        <MHover Context="hoverContext">
                                                            <span @onclick:stopPropagation @onclick="()=>NavigateToAppAsync(project.Id)" @attributes="hoverContext.Attrs" class="@(hoverContext.Hover ? "primary--text":"")">
                                                                @project.Name
                                                            </span>
                                                        </MHover>
                                                        <div class="mt-1 regul ar3--text body2 d-flex" style="padding:0">
                                                            @{
                                                                string backgroundColor;
                                                                switch (project.LabelCode.ToLower())
                                                                {
                                                                    case "basicability":
                                                                        backgroundColor = "#37D7AD";
                                                                        break;
                                                                    case "operator":
                                                                        backgroundColor = "#FFB547";
                                                                        break;
                                                                    case "datafactory":
                                                                        backgroundColor = "#5FB9FF";
                                                                        break;
                                                                    default:
                                                                        backgroundColor = "#BDBDBD";
                                                                        break;
                                                                }
                                                            }
                                                            <div class="d-flex justify-center mr-2" style="border-radius:6px; color:#fff; background-color:@backgroundColor; padding:0 4px;">
                                                                @project.LabelName
                                                            </div>
                                                            @project.Identity
                                                            <span class="ml-2 regular3--text body2">|</span>
                                                            <sapn class="ml-2 regular3--text body2">@T("AppCount"):@apps.Count</sapn>
                                                        </div>
                                                    </div>
                                                </span>
                                            </ChildContent>
                                            <ActionsContent>
                                                <MIcon Color="#485585">
                                                    mdi-chevron-down
                                                </MIcon>
                                            </ActionsContent>
                                        </MExpansionPanelHeader>
                                        <MExpansionPanelContent>
                                            <MRow>
                                                @foreach (var app in apps.OrderByDescending(app => app.IsPinned).ThenByDescending(app => app.ModificationTime).Take(6))
                                                {
                                                    @if (app.ProjectId == project.Id)
                                                    {
                                                        <MCol Lg="4" Md="6" Sm="12">
                                                            <AppCard OnClick="()=>NavigateToConfigAsync(new NavigateToConfigModel(app.Id, app.ProjectId, app.EnvironmentClusters[0].Id, ConfigObjectType.App))" OnPinClick="()=>AppPin(app)" IsPin="app.IsPinned" App="app" EnvironmentClusters="app.EnvironmentClusters">
                                                                <MChipGroup Class="env-cluster-chip-group" ActiveClass="primary--text">
                                                                    @foreach (var item in app.EnvironmentClusters)
                                                                    {
                                                                        <EnvClusterChip OnClick="()=>NavigateToConfigAsync(new NavigateToConfigModel(app.Id, app.ProjectId, item.Id, ConfigObjectType.App))"
                                                                        Style="margin:0 12px 1px 0;"
                                                                        EnvironmentName="@item.EnvironmentName"
                                                                        EnvironmentColor="@item.EnvironmentColor"
                                                                        ClusterName="@item.ClusterName" />
                                                                    }
                                                                </MChipGroup>
                                                            </AppCard>
                                                        </MCol>
                                                    }
                                                }
                                            </MRow>
                                            <div class="d-flex justify-space-between align-flex-end mt-3 mb-2">
                                                @{
                                                    var team = _allTeams.FirstOrDefault() ?? new();
                                                    <MTooltip Right>
                                                        <ActivatorContent>
                                                            <MAvatar Size="24" @attributes="@context.Attrs">
                                                                <MImage Src="@team.Avatar"></MImage>
                                                            </MAvatar>
                                                        </ActivatorContent>
                                                        <ChildContent>
                                                            <span>@team.Name</span>
                                                        </ChildContent>
                                                    </MTooltip>
                                                }
                                                <MHover>
                                                    @{
                                                        var mClass = $"{(context.Hover ? "primary--text" : "regular2--text")}";
                                                        <div @onclick="()=>NavigateToAppAsync(project.Id)" @attributes="context.Attrs" class="@($"hover-pointer btn {mClass}")">
                                                            @T("More")
                                                            <MIcon Class="@($"ml-1 {mClass}")" Size="18">mdi-chevron-right</MIcon>
                                                        </div>
                                                    }
                                                </MHover>
                                            </div>
                                        </MExpansionPanelContent>
                                    </MExpansionPanel>
                                }
                            </MExpansionPanels>
                        </div>
                    </div>
                </div>
            </div>
        </MTabItem>
        <MTabItem>
            <Masa.Dcc.Web.Admin.Rcl.Pages.App ProjectId="_appModel.ProjectId"
                                              AppCount="_appModel.AppCount"
                                              @ref="_app">
            </Masa.Dcc.Web.Admin.Rcl.Pages.App>
        </MTabItem>
        <MTabItem>
            <Config AppId="@_configModel.AppId"
                    ConfigObjectType="@_configModel.ConfigObjectType"
                    EnvironmentClusterId="@_configModel.EnvironmentClusterId"
                    ProjectId="@_configModel.ProjectId"
                    ProjectIdentity="@_configModel.ProjectIdentity"
                    @ref="_config">
            </Config>
        </MTabItem>
    </MTabsItems>
</CascadingValue>