@page "/team"
@inherits MasaCompontentBase;
@inject MasaBlazor MasaBlazor

<MTabs ValueChanged="TabValueChangedAsync" Value="_curTab" SliderColor="transparent" class="pro-nav remover-ripple">
    <MTab class="text-capitalize pa-0">
        <ChildContent>
            <span class="mtab-tab-line mtab-tab-linear-primary"></span>
            <span class="rounded-circle mtab-tab-indicator mtab-tab-indicator-primary"></span>
            <span class="mtab-tab-title">@T("Project")</span>
        </ChildContent>
    </MTab>
    <MTab class="text-capitalize pa-0" Disabled="_teamDetailDisabled">
        <ChildContent>
            <span class="mtab-tab-line @(_curTab.ToInt32()>0?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
            <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32()>0?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
            <span class="mtab-tab-title">@T("App")</span>
        </ChildContent>
    </MTab>
    <MTab class="text-capitalize pa-0" Disabled="_configDisabled">
        <ChildContent>
            <span class="mtab-tab-line @(_curTab.ToInt32()>1?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
            <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32()>1?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
            <span class="mtab-tab-title">@T("Config")</span>
        </ChildContent>
    </MTab>
</MTabs>

<MTabsItems Value="_curTab" class="pt-6">
    <MTabItem>
        <div class="d-flex">
            <div class="pr-6" style="width: calc(100% - 300px); display:block;">
                <div class="rounded-5 pa-6" style="background:#fff;overflow: hidden;">
                    <div class="d-flex mb-6">
                        <MTextField @bind-Value="_projectName" OnKeyDown="SearchProject" Class="rounded-2" Height="40" Flat Dense Solo BackgroundColor="fill-lighten-1" HideDetails="@("auto")" Placeholder="@T("Please enter the project name and press enter to query")">
                            <PrependInnerContent>
                                <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                            </PrependInnerContent>
                        </MTextField>
                    </div>
                    <div style="margin:0 -24px; height: calc(100vh - 292px); overflow:auto;">
                        <MExpansionPanels Flat Accordion>
                            @foreach (var project in _projects)
                            {
                                var apps = _apps.Where(app => app.ProjectId == project.Id).ToList();
                                <MExpansionPanel Style="margin-bottom: 12px;">
                                    <MExpansionPanelHeader>
                                        <span style="display:flex;align-items:center;margin-right:10px;">
                                            <div class="text-h6" @onclick:stopPropagation @onclick="()=>GetProjectDetailAsync(project.Id,apps.Count)">
                                                @project.Name
                                                <span class="ml-2 text-caption">|</span>
                                                <sapn class="ml-1 text-caption">@T("AppCount"):@apps.Count</sapn>
                                                <div class="text-caption d-flex" style="padding:0">
                                                    @{
                                                        string backgroundColor;
                                                        switch (project.LabelName.ToLower())
                                                        {
                                                            case "basic ability":
                                                                backgroundColor = "#37D7AD";
                                                                break;
                                                            case "ops ability":
                                                                backgroundColor = "#FFB547";
                                                                break;
                                                            case "data factory":
                                                                backgroundColor = "#5FB9FF";
                                                                break;
                                                            default:
                                                                backgroundColor = "";
                                                                break;
                                                        }
                                                    }
                                                    <div class="d-flex justify-center mr-2" style="border-radius:6px; color:#fff; background-color:@backgroundColor; padding:0 4px;">
                                                        @project.LabelName
                                                    </div>
                                                    @project.Identity
                                                </div>
                                            </div>
                                        </span>
                                    </MExpansionPanelHeader>
                                    <MExpansionPanelContent>
                                        <MRow>
                                            @foreach (var app in apps.Where(app => app.IsPinned).Take(3))
                                            {
                                                <MCol Lg="4" Md="6" Sm="12">
                                                    <AppCard OnPinClick="()=>AppPinAsync(app)" IsPin="app.IsPinned" App="app" EnvironmentClusters="app.EnvironmentClusters">
                                                        <MMenu Transition="slide-y-transition" Bottom>
                                                            <ActivatorContent>
                                                                <MButton @attributes="@context.Attrs" Style="border: 1px solid #E2E7F4" Icon Width="24" Height="24">
                                                                    <MIcon Color="black">mdi-dots-horizontal</MIcon>
                                                                </MButton>
                                                            </ActivatorContent>

                                                            <ChildContent>
                                                                <MList Dense>
                                                                    @foreach (var item in app.EnvironmentClusters)
                                                                    {
                                                                        <MListItem OnClick="()=>NavigateToConfigAsync(item.Id, ConfigObjectType.App, app.ProjectId, app)">
                                                                            <MListItemContent>
                                                                                <MListItemTitle>
                                                                                    <span class="@($"{item.EnvironmentColor}--text")">@item.EnvironmentName</span>&nbsp;
                                                                                    <span>@item.ClusterName</span>
                                                                                </MListItemTitle>
                                                                            </MListItemContent>
                                                                        </MListItem>
                                                                    }
                                                                </MList>
                                                            </ChildContent>
                                                        </MMenu>
                                                    </AppCard>
                                                </MCol>
                                            }
                                        </MRow>
                                        <div class="d-flex justify-space-between mt-3">
                                            <div>
                                                <img style="height:24px;width:24px" src="/img/avatar/9.svg">
                                            </div>
                                            <div class="text-caption">编辑于一小时前</div>
                                        </div>
                                    </MExpansionPanelContent>
                                </MExpansionPanel>
                            }

                        </MExpansionPanels>
                    </div>
                </div>
            </div>

            <MNavigationDrawer Right Permanent Class="rounded-4" Width="300" Style="height: calc(100vh - 180px);">
                <div class="py-4 px-6" style="min-width:300px; display:flex; flex-direction:column; overflow: auto;">
                    <MAvatar>
                        <MImage Height="48" Width="48" Src="https://cdn.masastack.com/stack/images/website/masa-blazor/jack.png"></MImage>
                    </MAvatar>
                    <MRow NoGutters Class="mt-6">
                        <div class="text-h6">@T("Team name")</div>
                    </MRow>
                    <MRow NoGutters Class="mt-1 text-body2">
                        @T("ProjectCount")：@_projects.Count
                    </MRow>
                    <MRow NoGutters Class="mt-4 text-body2">
                        This is your team's workspace. Invite members to your team to start collaborating. Click here to edit this description.Professional team
                    </MRow>
                    <MRow NoGutters Class="text-caption mt-6">@T("Admin")</MRow>
                    <MRow NoGutters Class="mt-4 text-body2">管理员1</MRow>
                    <MRow NoGutters Class="text-caption mt-6">@T("Members")</MRow>
                    <MRow NoGutters Class="mt-4 text-body2">成员1</MRow>
                </div>
            </MNavigationDrawer>
        </div>
    </MTabItem>
    <MTabItem>
        <div class="d-flex">
            <MNavigationDrawer Right Permanent Class="rounded-4" Width="300" Style="height: calc(100vh - 180px);">
                <div style="min-width:300px; padding:16px 24px; display:flex; flex-direction:column; align-items:center; overflow: auto; height: calc(100vh - 218px);">
                    <div style="width:100%;" class="text-body2">
                        <MRow NoGutters Align="AlignTypes.Center" Justify="JustifyTypes.SpaceBetween">
                            <div class="text-h6">@_projectDetail.Name</div>
                        </MRow>
                        <MRow NoGutters Class="mt-6">
                            @T("AppCount")：@_appCount
                        </MRow>
                        <MRow NoGutters Class="text-caption">
                            @_projectDetail.Identity
                        </MRow>
                        <MRow NoGutters Class="mt-4">
                            @_projectDetail.Description
                        </MRow>
                        <MRow NoGutters Class="text-caption mt-6">@T("Creator")</MRow>
                        <MRow NoGutters Class="mt-4">@_projectDetail.Creator</MRow>
                        <MRow NoGutters Class="text-caption mt-6">@T("Participate team")</MRow>
                        <MRow NoGutters Class="mt-4">@_projectDetail.TeamId</MRow>
                        <MRow NoGutters Class="text-caption mt-6">@T("Environment/Cluster")</MRow>
                        <div style="display:flex; flex-direction:column;align-items:start">
                            @{
                                var envCluster = _allEnvClusters.Where(envCluster => _projectDetail.EnvironmentClusterIds.Contains(envCluster.Id));
                                foreach (var item in envCluster)
                                {
                                    <EnvClusterChip Class="mt-4" EnvironmentName="@item.EnvironmentName" EnvironmentColor="@item.EnvironmentColor" ClusterName="@item.ClusterName" />
                                }
                            }
                        </div>
                    </div>
                    <MSpacer></MSpacer>
                    <div style="width:100%" class="text-caption d-flex justify-end mt-6">@_projectDetail.CreationTime.ToString(T("$DateTimeFormat"))</div>
                </div>
            </MNavigationDrawer>
            <div class="pl-6" style="width: calc(100% - 300px);">
                <div class="bizCard">
                    <h6>业务配置</h6>
                    <MCard Class="mt-6" Height="163">
                        <MCardTitle Style="font-size: medium; flex-wrap:nowrap;">
                            <div class="text-h7 text-overflow">
                                <MTextField Disabled="!_isEditBiz" Dense HideDetails="true" Outlined @bind-Value="@_bizDetail.Name"></MTextField>
                            </div>
                            <div class="mx-4" style="color:#E2E7F4">|</div>
                            <div class="text-h7 text-overflow">Biz</div>
                            <MSpacer />
                            <MButton Icon OnClick="UpdateBizAsync">
                                @if (!_isEditBiz)
                                {
                                    <MIcon>mdi-pencil</MIcon>
                                }
                                else
                                {
                                    <MIcon Color="success">mdi-check</MIcon>
                                }
                            </MButton>
                        </MCardTitle>
                        <MCardSubtitle Class="pb-0 pt-2">
                            <div class="text-caption text-overflow">@_bizDetail.Identity</div>
                        </MCardSubtitle>
                        <MCardActions Class="pb-2 d-flex align-end">
                            <div style="overflow:hidden; height:64px; margin:0 16px 0 0;">
                                @{
                                    foreach (var item in _projectEnvClusters)
                                    {
                                        <EnvClusterChip Class="mb-3" Style="margin:0 6px;" EnvironmentName="@item.EnvironmentName" EnvironmentColor="@item.EnvironmentColor" ClusterName="@item.ClusterName" />
                                    }
                                }
                            </div>
                            <MSpacer></MSpacer>
                            <MMenu Transition="slide-y-transition" Bottom>
                                <ActivatorContent>
                                    <MButton @attributes="@context.Attrs" Style="border: 1px solid #E2E7F4; margin:8px 12px;" Icon Width="24" Height="24">
                                        <MIcon Color="black">mdi-dots-horizontal</MIcon>
                                    </MButton>
                                </ActivatorContent>

                                <ChildContent>
                                    <MList Dense>
                                        @foreach (var item in _projectEnvClusters)
                                        {
                                            <MListItem OnClick="()=>NavigateToConfigAsync(item.Id, ConfigObjectType.Biz, null, null)">
                                                <MListItemContent>
                                                    <MListItemTitle>
                                                        <span class="@($"{item.EnvironmentColor}--text")">@item.EnvironmentName</span>&nbsp;
                                                        <span>@item.ClusterName</span>
                                                    </MListItemTitle>
                                                </MListItemContent>
                                            </MListItem>
                                        }
                                    </MList>
                                </ChildContent>
                            </MMenu>
                        </MCardActions>
                    </MCard>
                </div>
                <div class="appCard mt-6">
                    <div class="d-flex justify-space-between">
                        <h6>应用</h6>
                        <MTextField @bind-Value="_appName" OnKeyDown="SearchApp" Style="max-width:300px;" Class="rounded-2" Height="40" Flat Dense Solo HideDetails="@("auto")" Placeholder="@T("Please enter the app name and press enter to query")">
                            <PrependInnerContent>
                                <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                            </PrependInnerContent>
                        </MTextField>
                    </div>
                    <div class="mt-6" style="width:100%; height: calc(100vh - 485px);overflow-y:auto; overflow-x:hidden;">
                        <MRow>
                            @{
                                foreach (var app in _projectApps)
                                {
                                    <MCol Lg="4" Md="6" Sm="12">
                                        <AppCard OnPinClick="()=>AppDetailPinAsync(app)" IsPin="app.IsPinned" ShowEditInfo EditInfo="@app.CreationTime.ToString(T("$DateTimeFormat"))" App="app" EnvironmentClusters="app.EnvironmentClusters">
                                            <MMenu Transition="slide-y-transition" Bottom>
                                                <ActivatorContent>
                                                    <MButton @attributes="@context.Attrs" Style="border: 1px solid #E2E7F4" Icon Width="24" Height="24">
                                                        <MIcon Color="black">mdi-dots-horizontal</MIcon>
                                                    </MButton>
                                                </ActivatorContent>

                                                <ChildContent>
                                                    <MList Dense>
                                                        @foreach (var item in app.EnvironmentClusters)
                                                        {
                                                            <MListItem OnClick="()=>NavigateToConfigAsync(item.Id, ConfigObjectType.App, app.ProjectId, app)">
                                                                <MListItemContent>
                                                                    <MListItemTitle>
                                                                        <span class="@($"{item.EnvironmentColor}--text")">@item.EnvironmentName</span>&nbsp;
                                                                        <span>@item.ClusterName</span>
                                                                    </MListItemTitle>
                                                                </MListItemContent>
                                                            </MListItem>
                                                        }
                                                    </MList>
                                                </ChildContent>
                                            </MMenu>
                                        </AppCard>
                                    </MCol>
                                }
                            }
                        </MRow>
                    </div>
                </div>
            </div>
        </div>
    </MTabItem>
    <MTabItem>
        <div class="d-flex">
            <MNavigationDrawer Right Permanent Class="rounded-4" Width="300" Style="height: calc(100vh - 180px);">
                <div style="min-width:300px; padding:16px 24px; display:flex; flex-direction:column; align-items:center; overflow: auto; height: calc(100vh - 218px);">
                    <div style="width:100%;" class="text-body2">
                        <MRow NoGutters Align="AlignTypes.Center" Justify="JustifyTypes.SpaceBetween">
                            <div class="text-h6">@_appDetail.Name</div>
                            <MButton Icon>
                                <MIcon Color="black">mdi-dots-horizontal</MIcon>
                            </MButton>
                        </MRow>
                        <MRow NoGutters Class="text-caption">
                            @_appDetail.Identity
                        </MRow>
                        <MRow NoGutters Class="mt-4">
                            @_appDetail.Description
                        </MRow>
                        <MRow NoGutters Class="text-caption mt-6">@T("Environment")</MRow>
                        @{
                            var envCluster = _allEnvClusters.Where(envCluster => _appDetail.EnvironmentClusters.Select(ec => ec.Id).Contains(envCluster.Id));
                        }
                        <MRow NoGutters>
                            <MChipGroup Column>
                                @foreach (var item in _appEnvs)
                                {
                                    <MChip OnClick="()=>OnEnvChipClick(item.EnvironmentName)"
                                       Outlined="@(_selectEnvName != item.EnvironmentName)"
                                       Color="@item.EnvironmentColor"
                                       Class="mr-3 mt-3">
                                        @item.EnvironmentName
                                    </MChip>
                                }
                            </MChipGroup>
                        </MRow>
                        <MRow NoGutters Class="text-caption mt-6">@T("Cluster")</MRow>
                        <MRow NoGutters>
                            <MChipGroup Column>
                                @foreach (var item in _appEnvClusters)
                                {
                                    var isSelected = _selectCluster.ClusterName == item.ClusterName;
                                    var textColor = isSelected ? "white" : "";
                                    <MChip OnClick="()=>OnClusterChipClick(item)"
                                       Outlined="@(!isSelected)"
                                       TextColor="@textColor"
                                       Color="#323D6F"
                                       Class="mr-3 mt-3">
                                        @item.ClusterName
                                    </MChip>
                                }
                            </MChipGroup>
                        </MRow>
                    </div>
                    <MSpacer></MSpacer>
                    <div style="width:100%; color:#323D6F; font-size:14px;" class="d-flex justify-end align-center">
                        <MIcon Size="16" Class="mr-1">mdi-link-variant</MIcon>关联公共配置
                    </div>
                </div>
            </MNavigationDrawer>

            <div class="pl-6" style="width: calc(100% - 300px); display:block;">
                <div class="rounded-5 pa-6" style="background:#fff;overflow: hidden;">
                    <div class="d-flex mb-6">
                        <MTextField @bind-Value="_projectName" OnKeyDown="SearchProject" Class="rounded-2" Height="40" Flat Dense Solo BackgroundColor="fill-lighten-1" HideDetails="@("auto")" Placeholder="@T("Please enter the config name and press enter to query")">
                            <PrependInnerContent>
                                <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                            </PrependInnerContent>
                        </MTextField>
                        <MButton Class="rounded-pill ml-6" Color="primary" OnClick="ShowAddConfigObjectModal">
                            <MIcon Small>mdi-plus </MIcon>@T("Add Config")
                        </MButton>
                    </div>
                    <div style="margin:0 -24px; height: calc(100vh - 292px); overflow:auto;">
                        <MExpansionPanels Flat Accordion>
                            @foreach (var configObject in _configObjects)
                            {
                                var formatLabelCode = configObject.FormatLabelCode.Trim().ToLower();
                                if (formatLabelCode == "json")
                                {
                                    <MExpansionPanel Style="margin-bottom: 12px;">
                                        <MExpansionPanelHeader Context="_">
                                            <div class="text-h6 d-flex align-center">
                                                <MTooltip Top>
                                                    <ActivatorContent>
                                                        @if (!configObject.IsPublished)
                                                        {
                                                            <MIcon @attributes="@context.Attrs" Class="mr-3" Color="warning">mdi-clipboard-edit</MIcon>
                                                        }
                                                    </ActivatorContent>
                                                    <ChildContent>
                                                        <span>有修改</span>
                                                    </ChildContent>
                                                </MTooltip>
                                                @configObject.Name
                                                <span class="ml-3 text-caption">|</span>
                                                <sapn class="ml-2 text-caption">@configObject.FormatName</sapn>
                                                <MSpacer></MSpacer>
                                                <MButton StopPropagation Icon Class="mr-4" OnClick="()=> UpdateJsonConfigAsync(configObject)">
                                                    @if (!configObject.IsEditing)
                                                    {
                                                        <MIcon Color="#323D6F">mdi-pencil</MIcon>
                                                    }
                                                    else
                                                    {
                                                        <MIcon Color="success">mdi-check</MIcon>
                                                    }
                                                </MButton>
                                                <MButton StopPropagation Icon Class="mr-4"><MIcon Size="18" Color="#323D6F">fas fa-clone</MIcon></MButton>
                                                <MButton StopPropagation Icon Class="mr-4"><MIcon Color="#323D6F">mdi-send</MIcon></MButton>
                                                <MButton StopPropagation Icon Class="mr-4"><MIcon Color="#323D6F">mdi-dots-vertical</MIcon></MButton>
                                                <span class="mr-6 text-caption">|</span>
                                            </div>
                                        </MExpansionPanelHeader>
                                        <MExpansionPanelContent>
                                            <JsonEditor Disabled="!configObject.IsEditing" @bind-Value="@configObject.Content"></JsonEditor>
                                        </MExpansionPanelContent>
                                    </MExpansionPanel>
                                }
                                else if (formatLabelCode == "properties")
                                {
                                    <MExpansionPanel>
                                        <MExpansionPanelHeader Context="_">
                                            <div class="text-h6 d-flex align-center">
                                                @configObject.Name
                                                <span class="ml-3 text-caption">|</span>
                                                <sapn class="ml-2 text-caption">@configObject.FormatLabelCode</sapn>
                                                <MSpacer></MSpacer>
                                                <MButton StopPropagation Icon Class="mr-4" OnClick="()=>ShowPropertyModal(configObject.Id,configObject.ConfigObjectPropertyContents)"><MIcon Color="#323D6F">mdi-plus-circle</MIcon></MButton>
                                                <MButton StopPropagation Icon Class="mr-4"><MIcon Size="18" Color="#323D6F">fas fa-clone</MIcon></MButton>
                                                <MButton StopPropagation Icon Class="mr-4"><MIcon Color="#323D6F">mdi-send</MIcon></MButton>
                                                <MButton StopPropagation Icon Class="mr-4"><MIcon Color="#323D6F">mdi-dots-vertical</MIcon></MButton>
                                                <span class="mr-6 text-caption">|</span>
                                            </div>
                                        </MExpansionPanelHeader>
                                        <MExpansionPanelContent>
                                            <ElevationTab TabIndex="_tabIndex" TabIndexChanged="index=>HandleTabIndexChangedAsync(index,configObject.ConfigObjectPropertyContents)" TabMinWidth="70" ItemsClass="rounded-5" Dense Tabs="@(new List<string>{"表格","文本"})">
                                                <ElevationTabItem>
                                                    <MCard Style="border:1px solid #E2E7F4;" Class="py-3 mt-4">
                                                        <MDataTable Headers="_headers"
                                                            SortBy="new List<string>{ nameof(ConfigObjectPropertyModel.IsPublished) }"
                                                            TItem="ConfigObjectPropertyModel"
                                                            Items="@configObject.ConfigObjectPropertyContents"
                                                            Class="table-border-none"
                                                            HideDefaultFooter>
                                                            <HeaderColContent Context="header">
                                                                <span class="text-caption">@header.Text</span>
                                                            </HeaderColContent>
                                                            <ItemColContent>
                                                                @switch (@context.Header.Text)
                                                                {
                                                                    case "状态":
                                                                        if (context.Item.IsPublished)
                                                                        {
                                                                            <MIcon Style="margin-bottom:2px;" Size="20" Color="#05CD99">mdi-send</MIcon>
                                                                            <span style="color:#05CD99;">已发布</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (context.Item.IsAdded)
                                                                            {
                                                                                <MIcon Color="#323D6F" Style="margin-bottom:2px;" Size="20">mdi-plus</MIcon>
                                                                            }
                                                                            else if (context.Item.IsEdited)
                                                                            {
                                                                                <MIcon Color="#323D6F" Style="margin-bottom:2px;" Size="20">mdi-pencil</MIcon>
                                                                            }
                                                                            else if (context.Item.IsDeleted)
                                                                            {
                                                                                <MIcon Color="#323D6F" Style="margin-bottom:2px;" Size="20">mdi-delete</MIcon>
                                                                            }
                                                                            <span>未发布</span>
                                                                        }
                                                                        break;
                                                                    case "操作":
                                                                        <MIcon Class="mr-3 hover-pointer" Size="20" OnClick="()=>ShowPropertyModal(configObject.Id, null, context.Item)">mdi-pencil</MIcon>
                                                                        <MIcon Class="hover-pointer" Size="20" Color="error" OnClick="()=>DeleteConfigObjectPropertyContentAsync(context.Item, configObject.Id)">mdi-delete</MIcon>
                                                                        break;
                                                                    case "修改时间":
                                                                        <span>@context.Item.ModificationTime.ToString(T("$DateTimeFormat"))</span>
                                                                        break;
                                                                    default:
                                                                        @context.Value
                                                                        break;
                                                                }
                                                            </ItemColContent>
                                                        </MDataTable>
                                                    </MCard>
                                                </ElevationTabItem>
                                                <ElevationTabItem>
                                                    <div class="d-flex justify-end">
                                                        <MButton StopPropagation Icon Class="mr-4">
                                                            @if (!_selectEditorContent.Disabled)
                                                            {
                                                                <MIcon Class="hover-pointer" OnClick="()=>{ _selectEditorContent.Disabled = !_selectEditorContent.Disabled; }" Color="#323D6F">mdi-pencil</MIcon>
                                                            }
                                                            else
                                                            {
                                                                <MIcon OnClick="()=>TextConvertPropertyAsync(configObject.Id)" Color="success">mdi-check</MIcon>
                                                            }
                                                        </MButton>
                                                    </div>
                                                    <Editor Disabled="!_selectEditorContent.Disabled" @bind-Value="@_selectEditorContent.Content"></Editor>
                                                </ElevationTabItem>
                                            </ElevationTab>
                                        </MExpansionPanelContent>
                                    </MExpansionPanel>
                                }
                                else
                                {
                                    
                                }
                            }
                        </MExpansionPanels>
                    </div>
                </div>
            </div>
        </div>
    </MTabItem>
</MTabsItems>


<SheetDialog @bind-Value="_addConfigObjectModal.Visible" Title="@T("Create config object")" Icon="mdi-circle" IconColor="success">
    <div class="d-flex flex-column" style="width:100%; height:100%; padding: 48px 228px">
        <div>
            <div class="text-h6">Application  |  identity</div>
            <MTextField Class="mt-12" Dense Label="名称" Outlined @bind-Value="_addConfigObjectModal.Data.Name"></MTextField>
            <MSelect @bind-Value="_addConfigObjectModal.Data.FormatLabelCode"
                     Label="格式"
                     MenuProps="props => props.OffsetY = true"
                     Outlined
                     Dense
                     Items="_configObjectFormats"
                     ItemText="l=>l.Name"
                     ItemValue="l=>l.Code">
            </MSelect>
            <p class="neutral--text" style="font-size:14px; font-weight:700;">选择集群</p>
            <MChipGroup Multiple Column @bind-Values="_selectEnvClusterIds">
                @foreach (var item in _appDetail.EnvironmentClusters)
                {
                    <MChip Value="item.Id" Large Class="envClusterChip mr-6 mb-6" Filter Outlined ActiveClass="@($"{item.EnvironmentColor}")">
                        <div class="@($"{item.EnvironmentColor}--text")">@item.EnvironmentName</div>&nbsp;&nbsp;
                        <div style="color:#05CD99">@item.ClusterName</div>
                    </MChip>
                }
            </MChipGroup>
        </div>
        <div class="d-flex justify-end align-end" style="width:100%; height:100%;">
            <MButton Class="rounded-pill" Color="primary" Width="100" OnClick="AddConfigObject">提交</MButton>
        </div>
    </div>
</SheetDialog>

<SheetDialog @bind-Value="_propertyConfigModal.Visible" Title="@T("Create config object item")" Icon="mdi-circle" IconColor="success">
    <div class="d-flex flex-column" style="width:100%; height:100%; padding: 48px 228px">
        <div>
            <div class="text-h6">配置对象  |  Properties</div>
            <MTextField Class="mt-12" Disabled="_propertyConfigModal.HasValue" Dense Label="Key" Outlined @bind-Value="_propertyConfigModal.Data.Key"></MTextField>
            <MTextField Dense Label="Value" Outlined @bind-Value="_propertyConfigModal.Data.Value"></MTextField>
            <MTextarea Label="Description" Dense Outlined @bind-Value="_propertyConfigModal.Data.Description"></MTextarea>
        </div>
        <div class="d-flex justify-end align-end" style="width:100%; height:100%;">
            <MButton Class="rounded-pill" Color="primary" Width="100" OnClick="SubmitPropertyConfigAsync">提交</MButton>
        </div>
    </div>
</SheetDialog>
