@page "/team/{TeamId}"
@inherits MasaCompontentBase;
@inject MasaBlazor MasaBlazor

<CascadingValue Value="this">
    <MTabs ValueChanged="TabValueChangedAsync" Value="_curTab" SliderColor="transparent" class="pro-nav remover-ripple">
        <MTab class="text-capitalize pa-0">
            <ChildContent>
                <span class="mtab-tab-line mtab-tab-linear-primary"></span>
                <span class="rounded-circle mtab-tab-indicator mtab-tab-indicator-primary"></span>
                <span class="mtab-tab-title">@T("Project")</span>
            </ChildContent>
        </MTab>
        <MTab class="text-capitalize pa-0" Disabled="_teamDetailDisabled">
            <ChildContent>
                <span class="mtab-tab-line @(_curTab.ToInt32()>0?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
                <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32()>0?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
                <span class="mtab-tab-title">@T("Project detail")</span>
            </ChildContent>
        </MTab>
        <MTab class="text-capitalize pa-0" Disabled="_configDisabled">
            <ChildContent>
                <span class="mtab-tab-line @(_curTab.ToInt32()>1?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
                <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32()>1?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
                <span class="mtab-tab-title">@T("Config detail")</span>
            </ChildContent>
        </MTab>
    </MTabs>

    <MTabsItems Style="background-color: transparent !important;" Value="_curTab" class="pt-6">
        <MTabItem>
            <div class="d-flex">
                <div class="pr-6" style="width: calc(100% - 300px); display:block;">
                    <div class="rounded-5 pa-6" style="background:#fff;overflow: hidden;">
                        <div class="d-flex mb-6">
                            <MTextField @bind-Value="_projectName" OnKeyDown="SearchProject" Class="rounded-2" Height="40" Flat Dense Solo BackgroundColor="fill-background" HideDetails="@("auto")" Placeholder="@T("Please enter the project name and press enter to query")">
                                <PrependInnerContent>
                                    <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                                </PrependInnerContent>
                            </MTextField>
                        </div>
                        <div style="margin:0 -24px; height: calc(100vh - 304px); overflow:auto;">
                            <MExpansionPanels Flat Accordion>
                                @foreach (var project in _projects)
                                {
                                    var apps = _apps.Where(app => app.ProjectId == project.Id).ToList();
                                    <MExpansionPanel>
                                        <MExpansionPanelHeader>
                                            <ChildContent>
                                                <span style="display:flex;align-items:center;margin-right:10px;">
                                                    <div class="emphasis--text h6" @onclick:stopPropagation @onclick="()=>NavigateToAppAsync(project.Id)">
                                                        @project.Name
                                                        <span class="ml-2 regular3--text btn">|</span>
                                                        <sapn class="ml-1 regular3--text btn">@T("AppCount"):@apps.Count</sapn>
                                                        <div class="regular3--text btn d-flex" style="padding:0">
                                                            @{
                                                                string backgroundColor;
                                                                switch (project.LabelCode.ToLower())
                                                                {
                                                                    case "basicability":
                                                                        backgroundColor = "#37D7AD";
                                                                        break;
                                                                    case "operator":
                                                                        backgroundColor = "#FFB547";
                                                                        break;
                                                                    case "datafactory":
                                                                        backgroundColor = "#5FB9FF";
                                                                        break;
                                                                    default:
                                                                        backgroundColor = "#BDBDBD";
                                                                        break;
                                                                }
                                                            }
                                                            <div class="d-flex justify-center mr-2" style="border-radius:6px; color:#fff; background-color:@backgroundColor; padding:0 4px;">
                                                                @project.LabelName
                                                            </div>
                                                            @project.Identity
                                                        </div>
                                                    </div>
                                                </span>
                                            </ChildContent>
                                            <ActionsContent>
                                                <MIcon Color="#485585">
                                                    mdi-chevron-down
                                                </MIcon>
                                            </ActionsContent>
                                        </MExpansionPanelHeader>
                                        <MExpansionPanelContent>
                                            <MRow>
                                                @foreach (var app in apps.Where(app => app.IsPinned).Take(3))
                                                {
                                                    <MCol Lg="4" Md="6" Sm="12">
                                                        <AppCard OnPinClick="()=>AppPinAsync(app)" IsPin="app.IsPinned" App="app" EnvironmentClusters="app.EnvironmentClusters">
                                                            <MMenu Transition="slide-y-transition" Bottom>
                                                                <ActivatorContent>
                                                                    <MButton @attributes="@context.Attrs" Style="border: 1px solid #E2E7F4" Icon Width="24" Height="24">
                                                                        <MIcon Color="black">mdi-dots-horizontal</MIcon>
                                                                    </MButton>
                                                                </ActivatorContent>

                                                                <ChildContent>
                                                                    <MList Dense>
                                                                        @foreach (var item in app.EnvironmentClusters)
                                                                        {
                                                                            <MListItem OnClick="()=>NavigateToConfigAsync(new NavigateToConfigModel(app.Id, app.ProjectId, item.Id, ConfigObjectType.App))">
                                                                                <MListItemContent>
                                                                                    <MListItemTitle>
                                                                                        <span class="@($"{item.EnvironmentColor}--text")">@item.EnvironmentName</span>&nbsp;
                                                                                        <span>@item.ClusterName</span>
                                                                                    </MListItemTitle>
                                                                                </MListItemContent>
                                                                            </MListItem>
                                                                        }
                                                                    </MList>
                                                                </ChildContent>
                                                            </MMenu>
                                                        </AppCard>
                                                    </MCol>
                                                }
                                            </MRow>
                                        </MExpansionPanelContent>
                                        <hr class="mx-6" style="background: none repeat scroll 0 0 #E9EDF7; border: thin none; height: 1px;" />
                                    </MExpansionPanel>
                                }

                            </MExpansionPanels>
                        </div>
                    </div>
                </div>

                <MNavigationDrawer Right Permanent Class="rounded-4" Width="300" Style="height: calc(100vh - 192px);">
                    <div class="py-4 px-6" style="min-width:300px; display:flex; flex-direction:column; overflow: auto;">
                        <MAvatar>
                            <MImage Height="48" Width="48" Src="@_userTeam.Avatar"></MImage>
                        </MAvatar>
                        <MRow NoGutters Class="mt-6">
                            <div class="emphasis--text h6">@_userTeam.Name</div>
                        </MRow>
                        <MRow NoGutters Class="mt-1 text-body2">
                            @T("ProjectCount")：@_projects.Count
                        </MRow>
                        <MRow NoGutters Class="mt-4 text-body2">
                            @_userTeam.Description
                        </MRow>
                        <MRow NoGutters Class="regular3--text btn mt-6">@T("Admin")</MRow>
                        @foreach (var item in _userTeam.Admins)
                        {
                            <MRow Align="AlignTypes.Center" NoGutters Class="mt-4 text-body2">
                                <MAvatar Class="mr-3">
                                    <MImage Height="48" Width="48" Src="@item.Avatar"></MImage>
                                </MAvatar>
                                @item.Name
                            </MRow>
                        }
                        <MRow NoGutters Class="regular3--text btn mt-6">@T("Members")</MRow>
                        @foreach (var item in _userTeam.Members)
                        {
                            <MRow Align="AlignTypes.Center" NoGutters Class="mt-4 text-body2">
                                <MAvatar MinHeight="40" MinWidth="40" Height="40" Width="40" Class="mr-3">
                                    <MImage Height="40" Width="40" Src="@item.Avatar"></MImage>
                                </MAvatar>
                                @item.Name
                            </MRow>
                        }
                    </div>
                </MNavigationDrawer>
            </div>
        </MTabItem>
        <MTabItem>
            <Masa.Dcc.Web.Admin.Rcl.Pages.App ProjectId="_appModel.ProjectId"
                                              AppCount="_appModel.AppCount"
                                              @ref="_app">
            </Masa.Dcc.Web.Admin.Rcl.Pages.App>
        </MTabItem>
        <MTabItem>
            <Config AppId="@_configModel.AppId"
                    ConfigObjectType="@_configModel.ConfigObjectType"
                    EnvironmentClusterId="@_configModel.EnvironmentClusterId"
                    ProjectId="@_configModel.ProjectId"
                    ProjectIdentity="@_configModel.ProjectIdentity"
                    @ref="_config">
            </Config>
        </MTabItem>
    </MTabsItems>
</CascadingValue>