<MHover Context="hoverContext" Class="d-flex flex-column">
    <MCard Ripple=false OnClick="OnClick" Outlined MinHeight="Height" @attributes="hoverContext.Attrs" Class="rounded-3" Elevation="@(hoverContext.Hover ? 6 : 0)" Style="@Style">
        <MCardTitle Style="font-size: medium; flex-wrap:nowrap; padding: 12px 16px 8px 16px !important;">
            <div class="emphasis2--text h7 text-overflow" style="max-width: 240px; overflow: hidden;">@App.Name</div>
            <div class="mx-3" style="color:#E2E7F4">|</div>
            <div class="emphasis2--text h7 text-overflow">@App.Type</div>
            <MSpacer />
            <MButton StopPropagation Icon OnClick="OnPinClick">
                <MIcon Color="@(IsPin ? "#FFB547" : "#E5E5E5")" Size="20">mdi-pin</MIcon>
            </MButton>
            </MCardTitle>
            <MCardSubtitle>
            <div class="body2 regular3--text text-overflow">@App.Identity</div>
            <div class="text-overflow regular--text body text-overflow mt-4">@App.Description</div>
            </MCardSubtitle>
            <div class="full-width" @onclick:stopPropagation>
                <MCardActions Class="px-0 mx-4" Style="position:absolute;bottom:0;left:0;right:0; padding-bottom:12px !important;">
                @ChildContent
                </MCardActions>
            </div>
     </MCard>
</MHover>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public List<EnvironmentClusterModel> EnvironmentClusters { get; set; } = new();

    [Parameter]
    public Model.AppModel App { get; set; } = new();

    [Parameter]
    public bool ShowEditInfo { get; set; }

    [Parameter]
    public string EditInfo { get; set; } = "";

    [Parameter]
    public EventCallback<MouseEventArgs> OnPinClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Style { get; set; } = "border: 1px solid #E2E7F4;";

    [Parameter]
    public bool IsPin { get; set; }

    public int Height => ShowEditInfo ? 224 : 162;

    private async Task HandleOnClickAsync()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }
}
